<main class="d-flex min-vh-100 bg-dark">
    <div class="container-fluid my-auto">
        <h1 class="display-2 text-center text-light">Create Recipe</h1>
        <div class="row justify-content-center">
            <!-- Default Form -->
            <div class="col-12 col-md-10 mb-3 p-4 bg-white">
                <form>
                    <div class="form-group">
                        <label for="recipename-input">Recipe name</label>
                        <input type="recipename" class="form-control" id="recipename-input">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Contains nuts</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Vegan</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">Gluten free</label>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Ingredient">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="instructions-input">Instructions</label>
                        <input type="instructions" class="form-control" id="instructions-input">
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>