<main class="d-flex min-vh-100 bg-dark">
    <div class="container-fluid my-auto">
        <h1 class="display-2 text-center text-light">Create Recipe</h1>
        <div class="row justify-content-center">
            <!-- Default Form -->
            <div class="col-12 col-md-10 mb-3 p-4 bg-white">
                <form id="new-recipe-form">
                    <div class="form-group">
                        <label for="recipename-input">Recipe name</label>
                        <input type="recipename" 
                        name="recipe-name" class="form-control" id="recipename-input">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" 
                        id="contains-nuts-box">
                        <label class="form-check-label" for="inlineCheckbox1">Contains nuts</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="vegan-box">
                        <label class="form-check-label" for="inlineCheckbox2">Vegan</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="gluten-free-box">
                        <label class="form-check-label" for="inlineCheckbox3">Gluten free</label>
                    </div>
                    <div class="ing-container">
                        <div class="form-row">
                            <button class="minus-btn">-</button>
                            <button class="plus-btn">+</button>
                            <div class="col">
                                <input type="text" class="form-control ingredient" placeholder="Ingredient">
                            </div>
                           
                        </div>


                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Directions</span>
                        </div>
                        <textarea class="form-control" id="directions-text" aria-label="With textarea"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" id="create-recipe-btn">Create</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/create-recipe.js"></script>
</main>