<ol class="recipe-list">
    <li>
        Chicken
        <img class="get-all-img" src="images/hayley-ryczek-HQ22vVXhWcc-unsplash.jpg">
        <i class="fas fa-wheat-slash"></i>
    </li>
    <li>
        Noodles
         <img class="get-all-img" src="images/ikhsan-baihaqi-pbc2wXbQYpI-unsplash.jpg">
        <i class="fas fa-vegan"></i>
    </li>
    <li>
        Shrimp
         <img class="get-all-img" src="images/maria-labanda-hEKN_m0qGMA-unsplash.jpg">
    </li>
</ol>