<main>
  <div id="date"></div>
  {{#each recipes as |recipe|}}

<div class="recipe-list">
<a href="/recipes/{{recipe.id}}">
    <h2>{{recipe.recipeName}}</h2>
    <div class="recipename">{{recipe.user.userName}}
      <div class="tags">
        {{#if has_nuts}}
        <p>
          Contains Nuts
        </p>
        {{/if}}
        {{#if gluten_free}}
        <p>
          Gluten Free
        </p>
        {{/if}}
        {{#if vegan}}
        <p>
          Vegan
        </p>
        {{/if}}
      </div>
</div>
  

      {{/each}}

</main>