<main>
    <div class="home-container">
        <h2>Welcome to What's Cookin</h2>
 
<div>
    <img class = "home-pic" src="/images/jimmy-dean-Yn0l7uwBrpw-unsplash.jpeg">
</div>

<div>
    <p>
        Welcome to our blog of user submitted recipes. Please sign up and join our community to create recipes and try out any from the archives.
    </p>
</div>
</main>
    </div>


