<main class="d-flex min-vh-100">
  <div class="container-fluid my-auto">
    <div class="row justify-content-center">
      <!-- Default Form -->
      <div class="col-12 col-md-10 mb-3 p-4 bg-white">
        <form>
           <h1 class="display-2 text-center text-dark">Login</h1>
          <div class="form-group">
            <label for="user-name-login">Username</label>
            <input type="text" class="form-control" id="user-name-login">
          </div>
          <div class="form-group">
            <label for="password-login">Password</label>
            <input type="password" class="form-control" id="password-login">
          </div>
          <button class="btn btn-primary" type="submit" id="loginBtn">Login</button>
 <h1 class="display-2 text-center text-dark">Sign Up</h1>
          <div class="form-group">
            <label for="email-input">Username</label>
            <input type="text" class="form-control" id="user-name-signup">
          </div>
          <div class="form-group">
            <label for="password-input">Password</label>
            <input type="password" class="form-control" id="password-signup">
          </div>
           <button class="btn btn-primary" type="submit" id="signupBtn">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
  <script src="/js/login.js"></script>
</main>