<main>
  <div>{{recipe.recipeName}}</div>
   
   
   {{#each recipe.ingredients as |ingredient|}}
 <div>{{ingredient.ingredientName}}</div>
   {{/each}}
   
   {{#each recipe.directions as |recipe|}}
 <div>{{recipe.recipeDirection}}</div>
 {{/each}}
  
</main>