<main>
    <div class="recipe-pic">
        <img  src="images/dan-gold-4_jhDO54BYg-unsplash.jpeg">
    </div>

    <h2>Chicken</h2>
    <p>contains nuts</p>

    <div>
        <div>
            <ul>Instructions
                <li>Cut chicken</li>
                <li>Cook chicken</li>
                <li>Cook chicken</li>
            </ul>
        </div>
        <div>
            <ul>Ingredients
                <li>Chicken<span> 1lb</span></li>
                <li>Butter<span> 1lb</span></li>

            </ul>
        </div>
    </div>
</main>