<main class="d-flex min-vh-100 bg-dark">
  <div class="container-fluid my-auto">
    <h1 class="display-2 text-center text-light">Sign Up</h1>
    <div class="row justify-content-center">
      <!-- Default Form -->
      <div class="col-12 col-md-10 mb-3 p-4 bg-white">
        <form>
          <div class="form-group">
            <label for="username-input">Username</label>
            <input type="username" class="form-control" id="username-input" aria-describedby="usernameHelp">
          </div>
          <div class="form-group">
            <label for="password-input">Password</label>
            <input type="password" class="form-control" id="password-input">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>