body {
  background-color: #DBDAD8
}
.navbar{
background-color: #DBDAD8;

}
.p-3 {
  padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}
.display-2 {
  font-size: 3rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.home-pic {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 600px;
  margin: 20px;
}

.recipe-pic {
  display: flex;
 
  height: 300px;
  width: 600px;
}

.get-all-img {
  display: flex;
  height: 80px;
  width: 80px;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.tags {
  display: flex;
  font-size: 10px;
  margin: 10px;

}
.recipename{
    font-size: 15px;
}

.btn-primary{
  color: black;
  background-color: #CE9F3C;
  border-color: #CE9F3C
}