main {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.home-pic {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 600px;
    margin: 20px;
    
}

.recipe-pic {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 600px;
    
}

.get-all-img {
    display: flex;
    height: 80px;
    width: 80px;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}



